

/* =====================  FILTRO  ===================== */

.area-filtro { background-color: #004070; padding: 40px 20px;display: flex; justify-content: center; flex-direction: column; }
.campo { background-color: #FFF; padding: 10px; position: relative; margin-bottom: 5px; }
.campo span { font-size: 12px;}
.campo i { position: absolute;right: 20px; top: 17px; z-index: 100;}
.campo a { text-decoration: none; color: #a4a4a4; }
.form-group { padding: 0; margin: 0; width: 100%; border: none; color: #f90; font-weight: bold !important; font-size: 16px; }
h3 { margin: 0 10px 20px 10px; text-align: center; color: #FFF; }
.linha { border: solid 1px #FFF; display: block; width: 100px; margin: 0 auto 40px auto; }
.fechar { color: #FFF; position: absolute; top: 15px; right: 15px;}
#cursos, #unidades, #turnos { display: none; background-color: #004070; padding: 0 30px; border-radius: 10px; position: relative;}
button.btn-filtrar { padding: 18px 40px !important; background-color: #009aae; width:100%; color: #FFF; font-size: 18px; border:0; font-weight: bold; }
.filtro-criterio { color: #FFF; font-weight: normal; margin: 0 0 20px 20px; }
.rotulo { color: #a6a6a6; font-weight: normal; font-size: 14px !important; }
.lista ul { margin: 0; padding: 0; list-style: none; }
.lista ul li { margin-bottom: 5px; }
.lista ul li a { text-decoration: none; color: #FFF; font-weight: normal !important; }
.lista ul li a:hover { text-decoration: underline; }
.curso-text { color: #646464; font-size: 1.6rem; font-weight: normal !important; padding-left: 0 !important; }
.curso-titulo-cinza { font-size: 2rem; margin-bottom: 5px; }
.curso-titulo-azul { font-size: 2rem; margin-bottom: 5px; color: #004070; }
.curso-texto-light { color: #9b9b9b; }
.curso-texto-laranja { color: #ee8325; font-size: 1.8rem; }
.curso-texto-old { text-decoration: line-through; font-size: 1.2rem; margin-right: 10px; font-weight: normal; }
.obs-texto { font-size: 1.3rem; font-style: italic; }
button.btn-trocar { font-size: 1.1rem; background-color: #FFF; border: solid 1px #CCC; border-radius: 2px; }
.curso-info { padding-left: 50px; font-weight: normal; position: relative; margin-bottom: 20px; }
.curso-info h5 { color: #004070; margin-bottom: 5px; font-size: 1.7rem; font-weight: bold; }
.curso-info i { position: absolute; left:5px; top:6px; }


.content-tabela { height: 150px !important; width: 100%; position: relative !important; overflow: auto !important; }
table a { color: #646464; }

.content-tabela .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover { border-top: solid 3px #004070; color: #004070; }
.content-tabela .nav-tabs.nav-justified>li { background-color: #eee; }
.content-tabela .texto-tabela { font-weight: normal !important; font-size: 1.3rem; }
.content-tabela .titulo-tabela { font-size: 1.5rem; margin-bottom: 5px; color: #004070; }
.content-tabela .table * { border: 0 !important; padding: 3px !important; margin: 0; width: 60%; }

.content-tabela .table-striped>tbody>tr:nth-child(odd)>td, 
.content-tabela .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #eee;
 }

 .tabs-filtro> .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
 	background-color: #f6f6f6;
 }

#tab-disciplinas { display: none; }

.nav-tabs li.active { font-weight: bold !important; }
.nav-tabs li a { color: #646464; }

.btn-cut-disabled { border: solid 1px #fff; padding: 5px 10px; background-color: transparent; font-weight: bold; margin-left: 10px; }
.btn-cut-enabled { border: solid 1px #fff; padding: 5px 10px; background-color: #fff; color: #004070; font-weight: bold; margin-left: 10px; }

.bg-cinza { background-color: #f6f6f6; clear: both; display: grid; padding-bottom: 30px; }


/* ===================== / FILTRO ===================== */

/*======================/ LOGIN /===========================*/

.laranja {color: #ee8325;}
.esqueci-senha {text-align: center; color: #646464;}
.admissao-login-text {color: #646464; font-size: 1.7rem; font-weight: normal; margin-top: 20px;}
.btn-nova-inscricao {border: 1px solid #646464; background: none; font-size: 1.7rem; color: #646464; text-align: center; position: relative; left: 50%; transform: translateX(-50%); margin: 10px auto;  padding: 5px 15px; font-weight: bold;}
.btn-nova-inscricao:hover {background: #f2f2f2;}


/* ==================== / API DE INSCRIÇÃO /=============*/

* {font-family: "PT Sans";}

.admissao-form-wrapper input, .admissao-form-wrapper select {border-radius: 0 !important;}
.admissao-form-wrapper button, .admissao-docs-wrapper button {-webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
.admissao-form-wrapper {margin-bottom: 30px;}
.admissao-form-wrapper .form-control {color: #999999 !important;}
.admissao-form-wrapper .input-group {width: 100%;}
.admissao-title,
.admissao-form-title {font-size: 24px; color:#646464; text-align: center; margin: 20px 0; font-weight: bold; font-family: "PT Sans";}
.admissao-subtitle {font-size: 2.2rem; color:#646464; font-weight: normal margin: 20px 0;}
.admissao-form-description {color: #646464; font-size: 1.7rem; font-weight: normal; text-align: center; margin: 10px 0 40px 0;}
.admissao-input {margin: 5px 0 15px 0;}
button.admissao-submit-btn, .admissao-submit-btn {background: #0099af; color: #fff; text-align: center; border: 0; width: 100%; font-size: 18px; padding: 10px 0; margin: 20px auto; FONT-WEIGHT: BOLD; -webkit-border-radius: 0; border-radius: 0; -webkit-transition: all 0.3s ease; /* Safari */    transition: all 0.3s ease;}
button.admissao-submit-btn:hover, button.admissao-submit-btn:focus, button.admissao-submit-btn:active {background:#00b1ca; color: #fff;} 

.admissao-form__label {color: #646464; font-size: 1.6rem; font-weight: normal; padding-left: 0 !important;}



/****************************** RADIO BUTTON e CHECKBOX CUSTOMIZADOS ****************************/

/*--------- RADIO BUTTON -----*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {    position: absolute;    left: -9999px;}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{    position: relative;    padding-left: 28px;    cursor: pointer;    line-height: 20px;    display: inline-block;    color: #666;}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {    content: '';    position: absolute;    left: 0;    top: 0;    width: 18px;    height: 18px;    border: 1px solid #ddd;    border-radius: 100%;    background: #fff;}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {    content: '';    width: 12px;    height: 12px;    background: #0098ad;    position: absolute;    top: 3px;    left: 3px;    border-radius: 100%;    -webkit-transition: all 0.2s ease;    transition: all 0.2s ease;}

[type="radio"]:not(:checked) + label:after {    opacity: 0;    -webkit-transform: scale(0);    transform: scale(0);}

[type="radio"]:checked + label:after {    opacity: 1;    -webkit-transform: scale(1);    transform: scale(1);}

/*--------- CHECKBOX -----*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {  position: absolute;  left: -9999px;}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {  position: relative;  padding-left: 1.95em;  cursor: pointer;}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {  content: '';  position: absolute;  left: 0; top: 2px;  width: 1.25em; height: 1.25em;  border: 1px solid #ccc;  background: #fff;  border-radius: 0;  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {  content: '\f00c';  position: absolute;  top: .2em; left: 0;  font-size: 1.4em;  line-height: 0.8;  color: #0098ad;  transition: all .2s;  font-family: 'fontawesome';}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {  opacity: 0;  transform: scale(0);}

[type="checkbox"]:checked + label:after {  opacity: 1;  transform: scale(1);}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {  box-shadow: none;  border-color: #bbb;  background-color: #ddd;}

[type="checkbox"]:disabled:checked + label:after {  color: #999;}

[type="checkbox"]:disabled + label {  color: #aaa;}

/*************************************************************************************/

/*FORMAS DE INGRESSO*/

.forma-de-ingresso__box {background: #bfbfbf; text-align: center; color:#f2f2f2; padding: 10px; -webkit-transition: all 0.2s ease; /* Safari */    transition: all 0.2s ease; font-size: 1.8rem; }
.forma-de-ingresso__box:hover, .forma-de-ingresso__box:active, .forma-de-ingresso__box:focus {cursor: pointer;}
.forma-de-ingresso-box__divider {border-top: 4px solid rgba(0,0,40,0.2);  width: 80px; margin: 10px auto;}

.forma-de-ingresso-wrapper__enem,
.forma-de-ingresso-wrapper__vest,
.forma-de-ingresso-wrapper__portador,
.forma-de-ingresso-wrapper__transferencia {margin: 10px auto 0 auto;}


.forma-de-ingresso-wrapper__enem:hover .forma-de-ingresso__enem {background: #2297ab;}
.forma-de-ingresso-wrapper__vest:hover .forma-de-ingresso__vest {background: #f4c30f;}
.forma-de-ingresso-wrapper__portador:hover .forma-de-ingresso__portador {background: #ea5c36;}
.forma-de-ingresso-wrapper__transferencia:hover .forma-de-ingresso__transferencia {background: #ee8325;}

.documentacao-box {text-align: center; color: #fff; padding: 5px; visibility: hidden; border: none; width: 100%;}
.documentacao-box__enem {background: #186978;}
.documentacao-box__vest {background: #c29a0c;}
.documentacao-box__portador {background: #b8492a;}
.documentacao-box__transferencia {background: #ba671e;}


.forma-de-ingresso-wrapper__enem:hover .documentacao-box__enem,
.forma-de-ingresso-wrapper__vest:hover .documentacao-box__vest,
.forma-de-ingresso-wrapper__portador:hover .documentacao-box__portador,
.forma-de-ingresso-wrapper__transferencia:hover .documentacao-box__transferencia{visibility: visible;}

.forma-de-ingresso__divider {border-top: solid 4px; margin: 10px auto;}

/*CORES DAS BARRAS DIVISÓRIAS PARA PARA FORMA DE INGRESSO*/
.divider__vest {border-color: #f4c30f;}
.divider__enem {border-color: #2297ab;}
.divider__portador {border-color: #ea5c36;}
.divider__transferencia {border-color: #ee8325;}

/*MODAIS*/

.modal-body ul li, .modal-body h4 {color: #999999; font-weight: 300;}

.modal-close {position: absolute; top: 5px; right: 5px; z-index: 1000;}
/*>>>>>>> c0452695757baf7c720342fec760d833c8f6f459*/




/* ==================== / API DE ENTREGA DE DOCUMENTOS /=============*/

.logged-bar {padding: 8px 15px; background: #0099af; color: #fff; height: 50px;}
.login-info {font-weight: normal;}

.admissao-docs-wrapper {padding: 40px 20px;}
.admissao-docs-title {font-size: 24px; color:#646464; text-align: center; margin: 20px 0; font-family: "PT Sans"; font-weight: bold;}
.admissao-docs-subtitle {font-size: 2.2rem; color:#646464; font-weight: normal margin: 20px 0;}

.pagamento-info-wrapper {border: #646464 1px solid; border-left: 0; border-right: 0; /*padding: 10px;*/}
.pagamento-texto {padding: 10px;}
.pagamento-texto__p {font-weight: normal; font-size: 1.8rem; color: #646464; margin: 2px;}

.btn-como-fazer {border-radius: 0 !important; border: 1px solid #646464; background: #fff; color: #646464 !important; font-size: 1.4rem; padding: 5px 10px;}
.btn-como-fazer:hover, .btn-como-fazer:focus, .btn-como-fazer:active {background: #f1f1f1;} 
.admissao-docs__tabela tr td{font-weight: normal; font-size: 1.4rem;}
.admissao-docs__tabela tr th{font-weight: bold; font-size: 1.4rem;}
.admissao-label {padding: 4px !important}


/* ==================== / API DE RESULTADO DO VEST /=============*/

.admissao-resultado-wrapper {padding: 30px 0;}
.admissao-status-wrapper {margin: 20px 0;}
.admissao-resultado__topo {background: #f6f6f6;}
.admissao-resultado__contrato {background: #fff;}
.admissao-status-wrapper {margin: 30px 0;}
.admissao-status__aprovacao {padding: 20px; border-bottom: 1px solid #ccc; height: 170px;}
.admissao-status__aprovacao h1 {margin-top: 13px; font-size: 2.8rem;}
.admissao-status__aprovacao, .admissao-status__aprovacao h1 {text-align: center; font-family: "PT Sans"; font-weight: bold !important; }
.admissao-status__aprovado {color: #9cac56;}
.admissao-status__reprovado {color: #cd5b38;}
.admissao-status__mensagem {text-align: center;}
.admissao-status__title {color: #33446d; font-weight: bold; text-align: center; font-size: 1.8rem; margin: 0 0 20px 0;}
.aprovado-green-circle {background:#9cac56 ; color: #fff; font-size: 2.5rem; font-weight: bold; text-align: center; border-radius: 400px; width: 60px; height: 60px; line-height: 60px;}

.reprovado-red-circle {background: #cd5b38; color: #fff; font-size: 2.5rem; font-weight: bold; text-align: center; border-radius: 400px; width: 60px; height: 60px; line-height: 60px;}
.admissao-status__nota {text-align: center;}
.btn-imprimir-resultado {border-radius: 0 !important; border: 1px solid #646464; background: none; color: #646464 !important; font-size: 1.8rem; padding: 5px 10px; font-family: "PT Sans"; font-weight: bold;}
.btn-imprimir-resultado:hover, .btn-imprimir-resultado:focus, .btn-imprimir-resultado:active {background: #f1f1f1;}
.admissao-resultado__info {text-align: center;}

.radio-parcelas label{font-size: 1.7rem;}



.alerta-cinza { background-color: #f6f6f6; border: none; }

.alert__contrato {color: #c09853; font-size: 1.7rem; text-align: center;}
.iframe__contrato {width: 100%; height: 400px; overflow: hidden;}
.admissao-contrato-wrapper, .admissao-assinatura-wrapper {padding: 0 20px;}
.admissao-assinatura-wrapper .input-group {width: 100%;}
.assinatura-texto__p,
.conclusao-texto__p {font-weight: normal; font-size: 1.8rem; color: #646464; margin: 10px 2px; text-align: center;}
.admissao-conclusao-wrapper {margin-top: 40px;}


/* ==================== / DISPENSA / =====================*/

.dispensa-titulo { color: #1a537e; font-size: 1.5rem; text-transform: uppercase;}
.alerta-vermelho { color: red; font-weight: bold; }
.tb-dispensa { margin: 0 auto; max-width: 800px; color: #646464; }
.tb-dispensa td, th { padding: 5px; }
.btn-incluir { padding: 5px; background-color: #0099af; color: #fff; display: inline-block; text-transform: uppercase; font-size: 1.2rem; font-weight: bold; }
.btn-excluir { padding: 5px; background-color: #ea3636; color: #fff; display: inline-block; text-transform: uppercase; font-size: 1.2rem; font-weight: bold; }
.btn-incluir-grande { padding: 20px; background-color: #0099af; color: #fff; display: grid; text-transform: uppercase; }
a.btn-incluir, a.btn-excluir { text-decoration: none; color: #FFF; }
.wrap-py { padding: 30px 0; display: grid; }
.m-0 { margin: 0 !important; padding: 5px !important; }
.mt-btn { margin-top: 36px; }




/* Novos estilos 11-05 18h57 */

.btn-vest-solidario { display: inline-block; border: solid 1px #ddd; padding: 10px 20px; border-radius: 5px; color: #646464; font-size: 1.5rem; }
a.link-solidario { color: #0099af; text-decoration: underline; }


/* Novos estilos 15-05 17h29 */

.alert-classificado { color: #788442; font-size: 1.7rem; text-align: center; }
.alert-nao-classificado { color: #c09853; font-size: 1.7rem; text-align: center; }


/* Estilos da tela de Inscrição Concluída */

.info-inscricao-concluida { display: inline-block; border: solid 1px #ddd; padding: 10px 20px; border-radius: 5px; color: #646464; font-size: 1.7rem; }
.texto-ic { font-weight: normal; font-size: 1.7rem; color: #646464; margin: 10px 2px; text-align: left !important; }
.box-oqlevar { padding: 20px; border: solid 1px #ddd; border-radius: 5px; font-weight: bold; font-size: 1.7rem; color: #646464; text-align: center; }
.box-oqlevar .fa { margin-right: 5px; }
.concluida__title { color: #ee8325; font-weight: bold; text-align: center; font-size: 2rem; margin: 0 0 20px 0; border-bottom: solid 1px #ddd; padding-bottom: 20px; }
.admissao-status__classificado { color: #f4c30f; }

.box-classificado { padding: 30px; border: solid 1px #9cac56; border-radius: 5px; font-size: 1.7rem; text-align: justify; margin-bottom: 20px; }
.box-nao-classificado { padding: 30px; border: solid 1px #f49b0f; border-radius: 5px; font-size: 1.7rem; text-align: justify; margin-bottom: 20px; }
.box-classificado h2 { color: #9cac56; margin: 0 0 20px 0; text-align: center; }
.box-nao-classificado h2 { color: #f49b0f; margin: 0 0 20px 0; text-align: center; }