﻿/*=====================================================================	CLASSES CUSTOMIZADAS =============================================================================*/

body {
    background-color: #fff !important;
}

.no-padding {padding: 0 !important;}

.unisuam-dark-blue {background: #004F7A !important;}

.margin-select{margin:5px 0; min-width:170px;}

select {height: 35px !important;}

.left{float:left;}

.space-bottom3{margin-bottom:15px;}

.space-top{margin-top:5px;}

.space-top-35{margin-top:35px;}

.space-bottom-35{margin-bottom:35px;}

.margin-label{margin-right:25px !important;}

.infobox{height:auto !important; width:32% !important; margin:0px 2px !important;}

.input-icon{width:100%;}

.input-icon > .ace-icon{line-height:32px !important;}

.small-icon{font-size:8px !important;}

.obrigatorio{color:#a7a7a7;}

.topo{padding:0 35px;}
.border-banner{border:1px solid #ebebeb;}

.modalidade{float:right; margin-top: -90px;}

.dados-topo{line-height: 30px;}

.simbolo-unisuam{padding:8px 15px 0 15px;}

.btn-group .disabled{opacity: 0.5 !important;}

.dropdown-toggle span{font-size:16px !important;}

.btn-laranja, .btn-laranja:focus {
    background-color: #ee7f00 !important;
    border-color: #ee7f00;
}

.btn-laranja:hover{background-color: #d66b11 !important; border-color: #ee7f00;}

.btn-20{width:19.88% !important;}
.btn-group{width:100%;}
.btn-ativo{background-color:#2297ab !important; border-color:#2297ab !important;}
.btn-ativo:hover{background-color:#197383 !important; border-color:#2297ab !important;}

.circulo {
    background-color: #478fca;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 40px;
    width: 40px;
	margin-right: 20px;
    text-align: center;
}

.nao-classificado{background-color:#FFA500 !important;}
.classificado{background-color: #69aa46 !important;}
.em-breve{background-color: #808080 !important;}
.historico{font-size:18px !important; font-weight:700 !important;}
.nota{font-size:24px;}

.passo-1{padding-bottom:0px;}
.passo2{padding:16px 15px 25px !important;}
.passo2 p{padding-top: 10px !important;}

.passo3{padding:16px 15px 60px !important;}
.passo3 p{padding-top: 7px !important;}

.btn-pesquisa{margin-top:-55px;}

.obrigatorio-asterisco{color: #a7a7a7; float: left; margin: 7px 10px 0 0;}

.step-pane .table-responsive{border: none !important;}

.ace-file-multiple .ace-file-container .ace-file-name .ace-icon {
    font-style: initial !important;
}

.wizard-steps li {
    width: 9% !important;
}

.progress{
	height:36px !important;
	margin-bottom:0 !important;
}

.progress[data-percent]::after{
	font-size: 20px !important;
    line-height: 32px !important;
	font-weight:bold !important;
}

.label-xlg{
	height:36px !important;
	font-size: 20px !important;
    line-height: 24px !important;
	font-weight:bold !important;
}

.menu-vest li{width:33%;}
.menu-vest li:first-child{width:34%;}

.menu-abas li{width:50%;}

.menu-vest li a, .menu-abas li a{padding:17px 12px 18px !important; text-align: center; font-size: 15px;}
.menu-vest .active a, .menu-vest .active a:hover, .menu-vest .active a:focus, .menu-abas .active a, .menu-abas .active a:hover, .menu-abas .active a:focus{font-weight:bold; font-size: 18px;}

.box-curso{padding:5px 20px 20px 20px; border:#ebebeb 1px solid;}

.topbar {
    width: 100%;
    background: #2297ab;
    height: 45px;
}

.dropdown-menu.dropdown-close {
    width: 300px;
    padding: 15px 10px;
    left: auto;
}

.dropdown-menu.dropdown-caret:before{    
	right: 9px;
    left: auto !important;
}

/************************* ESTILOS DO ACE PERSONALIZADOS ****************************/

.bg-primary {
    background-color: #3a87ad !important;
    color: #fff !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity: 0.85;}


/************************ CONTEÚDO ***************************/
.login-layout{background:url(../images/bg-login-graduacao.jpg) repeat #f8f8f8 !important;}

.login-info {text-align: center; margin-top: 40px; margin-bottom: 10px;}

.widget-box {background-color: none !important;}

.forgot-password-link{color: #004F7A !important;}

.forgot-box .back-to-login-link, .signup-box .back-to-login-link {
    color: #004F7A !important;
    font-size: 13px !important;
    font-weight:normal !important;
    text-shadow:none !important;
}

.ajuste-logo {padding-top: 0; margin-bottom: 5px; margin-top: 10px;}

.pd-contrato{padding:12px 35px;}

.senha-container{
    width:875px;
    margin:0 auto;
    background-color:#FFF;
}
@media only screen and (min-width:481px){
.esconder-banner-celular{display:none !important;}
}

@media only screen and (max-width:900px){.senha-container{width:98%} .pd-contrato{padding: 12px 5px !important;} .btn-pesquisa {float: left !important; margin-top: 0;} .passo-1{padding-bottom:55px;}}

	
.form-container {
	max-width:960px;
	margin: 10px auto;
}

.form-group {
    margin-bottom: 10px !important;
}

.espacador {margin: 5px 0;}
	
.rodape {padding: 40px 0; position: relative; }

.preenchido{background: #f5f5f5 none repeat scroll 0 0 !important; color: #939192 !important;}

.legenda-laranja{color:#ee7f00;}

.legenda-cinza{color:#eaeaea;}

.legenda-azul{color:#004F7A;}

/************************FOOTER***************************/

/*.ambiente-footer {margin: 100px 0 0 0 !important;}*/

@media only screen and (max-width:980px){
	.btn-20{width:19.85% !important;}
}

@media only screen and (max-width:768px){
	.box-curso-espaco-mobile{margin-bottom:20px;}
	.btn-20{width:19.8% !important; font-size:12px !important;}
}


@media only screen and (max-width:700px){
.modalidade{text-align: center; float:none; margin-top: 0px; margin-bottom:20px;}
.modalidade img, .ajuste-logo img{max-width: 100%;}
.ajuste-logo{text-align: center; padding-top: 0;}
.topo {padding: 0;}
.passo3{padding:16px 15px 160px !important;}
}

@media only screen and (max-width:779px){.hide-banner-escolha{display:none !important;}}

@media (min-width:600px) and (max-width:680px){
	.btn-20{font-size:10px !important;}
}

@media only screen and (max-width:480px){.top-space{margin-top:10px;} .esconder-banner{display:none !important;}}
@media only screen and (max-width:600px){.hide-mobile{display:none !important;} .btn-20{font-size:16px !important; width: 19.6% !important;}}
@media only screen and (max-width:500px){.menu-vest li a {padding: 17px 5px 18px !important; font-size: 13px;} .menu-vest .active a, .menu-vest .active a:hover, .menu-vest .active a:focus{font-size: 15px;}}
@media only screen and (max-width:400px){.menu-vest li a {padding: 17px 3px 18px !important; font-size: 11px;} .menu-vest .active a, .menu-vest .active a:hover, .menu-vest .active a:focus{font-size: 11px;}
.menu-abas li a {padding: 17px 3px 18px !important; font-size: 13px;} .menu-abas .active a, .menu-abas .active a:hover, .menu-abas .active a:focus{font-size: 15px;}}