.borda {border: 2px solid #ccc;} /*apenas marcação*/

.text-center {text-align: center !important;}

#admissao .blue-link {color: #337ab7;}
#admissao .blue-link:hover {color: #23527c;   text-decoration: underline;}

/* =====================  FILTRO  ===================== */

#filtro-de-cursos {font-family: "PT Sans" !important; color: #646464;}

#filtro-de-cursos .area-filtro { background-color: #004070; padding: 40px 20px;display: flex; justify-content: center; flex-direction: column; }
#filtro-de-cursos .campo { background-color: #FFF; padding: 10px; position: relative; margin-bottom: 5px; }
#filtro-de-cursos .campo span { font-size: 12px;}
#filtro-de-cursos .campo i { position: absolute;right: 20px; top: 17px; z-index: 100;}
#filtro-de-cursos .campo a { text-decoration: none; color: #a4a4a4; }
#filtro-de-cursos .form-group { padding: 0; margin: 0; width: 100%; height: 10px; border: none; color: #f90; font-weight: bold !important; font-size: 16px; }
#filtro-de-cursos h3 { margin: 0 10px 20px 10px; text-align: center; font-size: 24px !important; color: #FFF !important; font-family: "PT Sans" !important;}
#filtro-de-cursos .linha { border: solid 1px #FFF; display: block; width: 100px; margin: 0 auto 40px auto; }
#filtro-de-cursos .fechar { color: #FFF; position: absolute; top: 0; right: 0; }
#filtro-de-cursos #cursos, 
#filtro-de-cursos #unidades, 
#filtro-de-cursos #turnos { display: none; background-color: #004070; padding: 0 30px; border-radius: 10px; position: relative;}
#filtro-de-cursos button.btn-filtrar { padding: 22px 40px !important; background-color: #009aae; width:100%; color: #FFF; font-size: 18px; border:0; font-weight: bold; }
#filtro-de-cursos .filtro-criterio { color: #FFF; font-weight: normal; margin: 0 0 20px 20px; }
#filtro-de-cursos .rotulo { color: #a6a6a6; font-weight: normal; font-size: 14px !important; }
#filtro-de-cursos .rotulo strong{color: #a6a6a6 !important;}
#filtro-de-cursos .lista ul { margin: 0; padding: 0; list-style: none; }
#filtro-de-cursos .lista ul li { margin-bottom: 5px; list-style: none;}
#filtro-de-cursos .lista ul li a { text-decoration: none; color: #FFF; font-weight: normal !important; }
#filtro-de-cursos .lista ul li a:hover { text-decoration: underline; }
#filtro-de-cursos .curso-text { color: #646464; font-size: 1.6rem; font-weight: normal !important; padding-left: 0 !important; }

#filtro-de-cursos .btn-cut-disabled { border: solid 1px #fff; padding: 5px 10px; background-color: transparent; font-weight: bold; margin-left: 10px; }
#filtro-de-cursos .btn-cut-enabled { border: solid 1px #fff; padding: 5px 10px; background-color: #fff; color: #004070; font-weight: bold; margin-left: 10px; }

#admissao .curso-titulo-azul { font-size: 2rem; margin-bottom: 5px; color: #004070 !important; }
#admissao .curso-texto-light { color: #9b9b9b; }
#admissao .curso-texto-laranja,
#admissao .curso-texto-laranja strong { color: #ee8325 !important; font-size: 1.8rem; }
#admissao .curso-texto-old { text-decoration: line-through; font-size: 1.2rem; margin-right: 10px; font-weight: normal; }
#admissao .obs-texto { font-size: 1.3rem; font-style: italic; }
#admissao button.btn-trocar { font-size: 1.1rem; background-color: #FFF !important; border: solid 1px #CCC; border-radius: 2px; padding: 0 15px; margin-top: 8px;}
#admissao .curso-info { padding-left: 50px; font-weight: normal; position: relative; margin-bottom: 20px; }
#admissao .curso-info h5 { color: #004070 !important; margin-bottom: 5px; font-size: 1.7rem; font-weight: bold; }
#admissao .curso-info i { position: absolute; left:5px; top:6px; }


#admissao .content-tabela { height: 150px !important; width: 100%; position: relative !important; overflow: auto !important; }
#admissao table a { color: #646464; }

#admissao .curso-titulo-cinza { font-size: 2rem; margin-bottom: 5px; }
#admissao .content-tabela .nav-tabs.nav-justified>.active>a, 
#admissao .nav-tabs.nav-justified>.active>a:focus, 
#admissao .nav-tabs.nav-justified>.active>a:hover { border-top: solid 3px #004070; color: #004070; }
#admissao .content-tabela .nav-tabs.nav-justified>li { background-color: #eee; }
#admissao .content-tabela .texto-tabela { font-weight: normal !important; font-size: 1.3rem; }
#admissao .content-tabela .titulo-tabela { font-size: 1.5rem; margin-bottom: 5px; color: #004070; }
#admissao .content-tabela .table * { border: 0 !important; padding: 3px !important; margin: 0; width: 60%; }
#admissao .disabled *,
#admissao .disabled .curso-texto-laranja strong {color: #ccc !important; cursor: not-allowed !important;}

#admissao .content-tabela .table-striped>tbody>tr:nth-child(odd)>td, 
#admissao .content-tabela .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #eee;
 }

#admissao .tabs-filtro> .nav-tabs.nav-justified>.active>a, 
#admissao .nav-tabs.nav-justified>.active>a:focus,
#admissao .nav-tabs.nav-justified>.active>a:hover {
 	background-color: #f6f6f6;
 }

#admissao #tab-disciplinas { display: none; }

#admissao .nav-tabs li.active { font-weight: bold !important; }
#admissao .nav-tabs li a { color: #646464; }



#admissao .bg-cinza { background-color: #f6f6f6; clear: both; display: grid; padding-bottom: 30px; }


/* ===================== / FILTRO ===================== */


#admissao {margin: 0; padding: 0; border: 0; color: #646464; font-family: "PT Sans" !important;}
#admissao h1,
#admissao strong {color: #646464 !important}

#admissao h1 {font-size: 24px !important;}

/*======================/ LOGIN /===========================*/

#admissao .laranja {color: #ee8325;}
#admissao .esqueci-senha {text-align: center; color: #646464;}
#admissao .admissao-login-text {color: #646464; font-size: 1.6rem; font-weight: normal; margin-top: 20px;}
#admissao .btn-nova-inscricao {border: 1px solid #646464; background: none; font-size: 1.7rem; color: #646464; text-align: center; position: relative; left: 50%; transform: translateX(-50%); margin: 10px auto;  padding: 5px 15px; font-weight: bold;}
#admissao .btn-nova-inscricao:hover {background: #f2f2f2;}


/* ==================== / API DE INSCRIÇÃO /=============*/


#admissao .admissao-form-wrapper input, .admissao-form-wrapper select {border-radius: 0 !important; display: block;}
#admissao .admissao-form-wrapper button, .admissao-docs-wrapper button {-webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
#admissao .admissao-form-wrapper {margin-bottom: 30px;}
#admissao .admissao-form-wrapper .form-control {color: #999999 !important;}
#admissao .admissao-form-wrapper .input-group {width: 100%;}
#admissao .admissao-title,
#admissao .admissao-form-title {font-size: 24px; color:#646464; text-align: center; margin: 20px 0; font-weight: bold; font-family: "PT Sans";}
#admissao .admissao-subtitle {font-size: 2.2rem; color:#646464; font-weight: normal margin: 20px 0;}
#admissao .admissao-form-description {color: #646464; font-size: 1.7rem; font-weight: normal; text-align: center; margin: 10px 0 40px 0;}
#admissao .admissao-input {margin: 5px 0 15px 0;}
#admissao button.admissao-submit-btn, 
#admissao .admissao-submit-btn {background: #0099af; color: #fff; text-align: center; border: 0; width: 100%; font-size: 18px; padding: 10px 0; margin: 0 auto 20px auto; line-height: normal; font-weight: bold; -webkit-border-radius: 0; border-radius: 0; -webkit-transition: all 0.3s ease; /* Safari */    transition: all 0.3s ease;}
#admissao button.admissao-submit-btn:hover, button.admissao-submit-btn:focus, button.admissao-submit-btn:active {background:#00b1ca; color: #fff;} 

#admissao .admissao-form__label {color: #646464; font-size: 1.6rem; font-weight: normal; padding-left: 0 !important;}



/****************************** RADIO BUTTON e CHECKBOX CUSTOMIZADOS ****************************/

/*--------- RADIO BUTTON -----*/
#admissao [type="radio"]:checked,
#admissao [type="radio"]:not(:checked) {    position: absolute;    left: -9999px;}

#admissao [type="radio"]:checked + label,
#admissao [type="radio"]:not(:checked) + label{    position: relative;    padding-left: 28px;    cursor: pointer;    line-height: 20px;    display: inline-block;    color: #666;}

#admissao [type="radio"]:checked + label:before,
#admissao [type="radio"]:not(:checked) + label:before {    content: '';    position: absolute;    left: 0;    top: 0;    width: 18px;    height: 18px;    border: 1px solid #ddd;    border-radius: 100%;    background: #fff;}

#admissao [type="radio"]:checked + label:after,
#admissao [type="radio"]:not(:checked) + label:after {    content: '';    width: 12px;    height: 12px;    background: #0098ad;    position: absolute;    top: 3px;    left: 3px;    border-radius: 100%;    -webkit-transition: all 0.2s ease;    transition: all 0.2s ease;}

#admissao [type="radio"]:not(:checked) + label:after {    opacity: 0;    -webkit-transform: scale(0);    transform: scale(0);}

#admissao [type="radio"]:checked + label:after {    opacity: 1;    -webkit-transform: scale(1);    transform: scale(1);}

/*--------- CHECKBOX -----*/

/* Base for label styling */
#admissao [type="checkbox"]:not(:checked),
#admissao [type="checkbox"]:checked {  position: absolute;  left: -9999px;}

#admissao [type="checkbox"]:not(:checked) + label,
#admissao [type="checkbox"]:checked + label {  position: relative;  padding-left: 1.95em;  cursor: pointer;}

/* checkbox aspect */
#admissao [type="checkbox"]:not(:checked) + label:before,
#admissao [type="checkbox"]:checked + label:before {  content: '';  position: absolute;  left: 0; top: 2px;  width: 1.25em; height: 1.25em;  border: 1px solid #ccc;  background: #fff;  border-radius: 0;  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);}

/* checked mark aspect */
#admissao [type="checkbox"]:not(:checked) + label:after,
#admissao [type="checkbox"]:checked + label:after {  content: '\f00c';  position: absolute;  top: .2em; left: 0;  font-size: 1.4em;  line-height: 0.8;  color: #0098ad;  transition: all .2s;  font-family: 'fontawesome';}

/* checked mark aspect changes */
#admissao [type="checkbox"]:not(:checked) + label:after {  opacity: 0;  transform: scale(0);}

#admissao [type="checkbox"]:checked + label:after {  opacity: 1;  transform: scale(1);}

/* disabled checkbox */
#admissao [type="checkbox"]:disabled:not(:checked) + label:before,
#admissao [type="checkbox"]:disabled:checked + label:before {  box-shadow: none;  border-color: #bbb;  background-color: #ddd;}

#admissao [type="checkbox"]:disabled:checked + label:after {  color: #999;}

#admissao [type="checkbox"]:disabled + label {  color: #aaa;}
#admissao [type="checkbox"]:disabled + label {  color: #aaa;}

/*************************************************************************************/

/*FORMAS DE INGRESSO*/

#admissao .forma-de-ingresso__box {background: #bfbfbf; text-align: center; color:#f2f2f2 !important; padding: 10px; -webkit-transition: all 0.2s ease; /* Safari */    transition: all 0.2s ease; font-size: 1.8rem; }
#admissao .forma-de-ingresso__box p {color: #fff;}
#admissao .fa-file-text {color: #fff;}
#admissao .forma-de-ingresso__box:hover, 
#admissao .forma-de-ingresso__box:active, 
#admissao .forma-de-ingresso__box:focus {cursor: pointer;}
#admissao .forma-de-ingresso-box__divider {border-top: 4px solid rgba(0,0,40,0.2);  width: 80px; margin: 10px auto;}

#admissao .forma-de-ingresso-wrapper__enem,
#admissao .forma-de-ingresso-wrapper__vest,
#admissao .forma-de-ingresso-wrapper__portador,
#admissao .forma-de-ingresso-wrapper__transferencia {/*margin: 10px 0 0 0;*/}


#admissao .forma-de-ingresso-wrapper__enem:hover .forma-de-ingresso__enem {background: #2297ab;}
#admissao .forma-de-ingresso-wrapper__vest:hover .forma-de-ingresso__vest {background: #f4c30f;}
#admissao .forma-de-ingresso-wrapper__portador:hover .forma-de-ingresso__portador {background: #ea5c36;}
#admissao .forma-de-ingresso-wrapper__transferencia:hover .forma-de-ingresso__transferencia {background: #ee8325;}

#admissao .documentacao-box {text-align: center; color: #fff; padding: 5px; visibility: hidden; border: none; width: 100%;}
#admissao .documentacao-box__enem {background: #186978;}
#admissao .documentacao-box__vest {background: #c29a0c;}
#admissao .documentacao-box__portador {background: #b8492a;}
#admissao .documentacao-box__transferencia {background: #ba671e;}


#admissao .forma-de-ingresso-wrapper__enem:hover .documentacao-box__enem,
#admissao .forma-de-ingresso-wrapper__vest:hover .documentacao-box__vest,
#admissao .forma-de-ingresso-wrapper__portador:hover .documentacao-box__portador,
#admissao .forma-de-ingresso-wrapper__transferencia:hover .documentacao-box__transferencia{visibility: visible;}

#admissao .forma-de-ingresso__divider {border-top: solid 4px; margin: 10px auto;}

/*CORES DAS BARRAS DIVISÓRIAS PARA PARA FORMA DE INGRESSO*/
#admissao .divider__vest {border-color: #f4c30f;}
#admissao .divider__enem {border-color: #2297ab;}
#admissao .divider__portador {border-color: #ea5c36;}
#admissao .divider__transferencia {border-color: #ee8325;}

/* BOTÃO VEST SOLIDÁRIO */

#admissao .btn-vest-solidario { display: block; border: solid 1px #ddd; padding: 10px 20px; border-radius: 5px; color: #646464; font-size: 1.5rem; text-align: center;}
#admissao a.link-solidario { color: #0099af; text-decoration: underline; }

/*MODAIS*/

#admissao .modal-dialog {padding: 10px;}

#admissao .modal-body {padding: 40px;}

#admissao .modal-body ul li, #admissao .modal-body h4 {color: #999999; font-weight: 300;}

#admissao .modal-close {position: absolute; top: 5px; right: 5px; z-index: 1000;}
/*>>>>>>> c0452695757baf7c720342fec760d833c8f6f459*/




/* ==================== / API DE ENTREGA DE DOCUMENTOS /=============*/

.logged-bar {padding: 8px 15px; background: #0099af; color: #fff; height: 50px;}
.login-info {font-weight: normal;}

.admissao-docs-wrapper {padding: 40px 20px;}
.admissao-docs-title {font-size: 24px; color:#646464; text-align: center; margin: 20px 0; font-family: "PT Sans"; font-weight: bold;}
.admissao-docs-subtitle {font-size: 2.2rem; color:#646464; font-weight: normal margin: 20px 0;}

.pagamento-info-wrapper {border: #646464 1px solid; border-left: 0; border-right: 0; /*padding: 10px;*/}
.pagamento-texto {padding: 10px;}
.pagamento-texto__p {font-weight: normal; font-size: 1.8rem; color: #646464; margin: 2px;}

.btn-como-fazer {border-radius: 0 !important; border: 1px solid #646464; background: #fff; color: #646464 !important; font-size: 1.4rem; padding: 5px 10px;}
.btn-como-fazer:hover, .btn-como-fazer:focus, .btn-como-fazer:active {background: #f1f1f1;} 
.admissao-docs__tabela tr td{font-weight: normal; font-size: 1.4rem;}
.admissao-docs__tabela tr th{font-weight: bold; font-size: 1.4rem;}
.admissao-label {padding: 4px !important}


/* ==================== / API DE RESULTADO DO VEST /=============*/

#admissao .admissao-resultado-wrapper {padding: 30px 0;}
#admissao .admissao-status-wrapper {margin: 20px 0;}
#admissao .admissao-resultado__topo {background: #f6f6f6; width: 100%;}
#admissao .admissao-resultado__contrato {background: #fff;}
#admissao .admissao-status-wrapper {margin: 30px 0;}
#admissao .admissao-status__aprovacao {padding: 20px; border-bottom: 1px solid #ccc; height: 170px;}
#admissao .admissao-status__aprovacao h1 {margin-top: 13px; font-size: 2.8rem;}
#admissao .admissao-status__aprovacao, .admissao-status__aprovacao h1 {text-align: center; font-family: "PT Sans"; font-weight: bold !important; }
#admissao .admissao-status__aprovado {color: #9cac56;}
#admissao .admissao-status__reprovado {color: #cd5b38;}
#admissao .admissao-status__mensagem {text-align: center;}
#admissao .admissao-status__title {color: #33446d !important; font-weight: bold !important; text-align: center; font-size: 1.8rem !important; margin: 0 0 20px 0; font-family: "pt_sansbold";}
#admissao .aprovado-green-circle {background:#9cac56 ; color: #fff; font-size: 2.5rem; font-weight: bold; text-align: center; border-radius: 400px; width: 60px; height: 60px; line-height: 60px; margin: auto;}

#admissao .reprovado-red-circle {background: #cd5b38; color: #fff; font-size: 2.5rem; font-weight: bold; text-align: center; border-radius: 400px; width: 60px; height: 60px; line-height: 60px; margin: auto;}
#admissao .admissao-status__nota {text-align: center;}
#admissao .btn-imprimir-resultado {border-radius: 0 !important; border: 1px solid #646464; background: none; color: #646464 !important; font-size: 1.8rem; padding: 5px 10px; font-family: "PT Sans"; font-weight: bold;}
#admissao .btn-imprimir-resultado:hover, .btn-imprimir-resultado:focus, .btn-imprimir-resultado:active {background: #f1f1f1;}
#admissao .admissao-resultado__info {text-align: center; margin: 30px 0; padding: 15px; border: 1px #ccc solid;}

#admissao .radio-parcelas label{font-size: 1.7rem;}



#admissao .alerta-cinza { background-color: #f6f6f6; border: none; }

#admissao .alert__contrato {color: #c09853 !important; font-size: 1.7rem; text-align: center;}
#admissao .alert__contrato strong {color: #c09853 !important;}
#admissao .iframe__contrato {width: 100%; height: 400px; overflow: hidden;}
#admissao .admissao-contrato-wrapper, .admissao-assinatura-wrapper {padding: 0 20px;}
#admissao .admissao-assinatura-wrapper .input-group {width: 100%;}
#admissao .assinatura-texto__p,
#admissao .conclusao-texto__p {font-weight: normal; font-size: 1.8rem; color: #646464; margin: 10px 2px; text-align: center;}
#admissao .admissao-conclusao-wrapper {margin-top: 40px;}

/* ==================== / DISPENSA / =====================*/

#admissao .dispensa-titulo { color: #1a537e; font-size: 1.5rem; text-transform: uppercase;}
#admissao .alerta-vermelho { color: red; font-weight: bold; }
#admissao .tb-dispensa { margin: 0 auto; max-width: 800px; color: #646464; }
#admissao .tb-dispensa td, th { padding: 5px; }
#admissao tr.tb-cabecalho {border-bottom:solid 2px #ccc; font-weight: bold;}

#admissao .btn-incluir { padding: 0 5px; background-color: #0099af; color: #fff; display: inline-block; text-transform: uppercase; font-size: 1.2rem; font-weight: bold; }
#admissao .btn-excluir { padding: 0 5px; background-color: #ea3636; color: #fff; display: inline-block; text-transform: uppercase; font-size: 1.2rem; font-weight: bold; }
#admissao .btn-incluir-grande { padding: 20px; background-color: #0099af; color: #fff; display: grid; text-transform: uppercase; }
#admissao a.btn-incluir, a.btn-excluir { text-decoration: none; color: #FFF; }
#admissao .wrap-py { padding: 30px 0; display: grid; }
#admissao .m-0 { margin: 0 !important; padding: 5px !important; }
#admissao .mt-btn { margin-top: 44px; }


/* Novos estilos 15-05 17h29 */

#admissao .alert-classificado { color: #788442; font-size: 1.7rem; text-align: center; }
#admissao .alert-nao-classificado { color: #c09853; font-size: 1.7rem; text-align: center; }


/* Estilos da tela de Inscrição Concluída */

#admissao .info-inscricao-concluida { display: inline-block; border: solid 1px #ddd; padding: 10px 20px; border-radius: 5px; color: #646464; font-size: 1.7rem; }
#admissao .texto-ic { font-weight: normal; font-size: 1.7rem; color: #646464; margin: 10px 2px; text-align: left !important; }
#admissao .box-oqlevar { padding: 20px; border: solid 1px #ddd; border-radius: 5px; font-weight: bold; font-size: 1.7rem; color: #646464; text-align: center; }
#admissao .box-oqlevar .fa { margin-right: 5px; }
#admissao .concluida__title { color: #ee8325; font-weight: bold; text-align: center; font-size: 2rem; margin: 0 0 20px 0; border-bottom: solid 1px #ddd; padding-bottom: 20px; }
#admissao .admissao-status__classificado { color: #f4c30f; }

#admissao .box-classificado { padding: 30px; border: solid 1px #9cac56; border-radius: 5px; font-size: 1.7rem; text-align: justify; margin-bottom: 20px; }
#admissao .box-nao-classificado { padding: 30px; border: solid 1px #f49b0f; border-radius: 5px; font-size: 1.7rem; text-align: justify; margin-bottom: 20px; }
#admissao .box-classificado h2 { color: #9cac56; margin: 0 0 20px 0; text-align: center; }
#admissao .box-nao-classificado h2 { color: #f49b0f; margin: 0 0 20px 0; text-align: center; }
